version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: exam_postgres
    environment:
      POSTGRES_DB: examdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: skolopendrochka
    ports:
      - "5432:5432"
    volumes:
      - ./init-scripts/postgres:/docker-entrypoint-initdb.d
      - postgres_data:/var/lib/postgresql/data
    networks:
      - exam-network
    restart: unless-stopped

  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: exam_clickhouse
    environment:
      CLICKHOUSE_DB: default
      CLICKHOUSE_USER: default
      CLICKHOUSE_PASSWORD: ""
    ports:
      - "8123:8123"
      - "9000:9000"
    volumes:
      - ./init-scripts/clickhouse:/docker-entrypoint-initdb.d
      - clickhouse_data:/var/lib/clickhouse
    networks:
      - exam-network
    restart: unless-stopped

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: exam_rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - exam-network
    restart: unless-stopped

volumes:
  postgres_data:
  clickhouse_data:
  rabbitmq_data:

networks:
  exam-network:
    driver: bridge